HELP.md
bin/
target/classes
target/generated-test-sources
target/test-classes
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/resources/application-dev.properties
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bts_dump.sql
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
attachments
.env
target\BTS-0.0.1-SNAPSHOT.jar.original
target\BTS-0.0.1-SNAPSHOT.jar